<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">

</head>

<body>

    <!--导航 -->
    <!-- inverted 黑化 segment 片段 -->
    <nav class="ui inverted  attached  segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <!-- stackable代表可堆叠的. 移动端会堆叠 -->
            <div class="ui  inverted secondary stackable menu">
                <h2 class="ui  teal header item ">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- 点击按钮控制首页的那些item的显示与隐藏 jquery -->
        <a href="#" class="ui  menu toggle inverted icon  button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- 中间内容部分 -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!-- header头部 -->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">标签</h3>
                    </div>
                    <div class=" right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin">14</h2>个
                    </div>
                </div>
            </div>

            <div class="ui attached segment m-padded-tb-large">
                <a href="#" target="_blank" class="ui  teal basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>

                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>


                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>

                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>

                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>

                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>

                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>

                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>

                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>

                <a href="#" target="_blank" class="ui   basic  left pointing large label m-margin-tb-tiny">
                    方法论
                    <div class="detail">23</div>
                </a>
            </div>

            <div class="ui top attached teal segment">
                <div class="ui padded vertical segment m-padded-tb-large .m-mobile-lr-clear">
                    <!-- 移动端图片和文字会反转-->
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">你是真的理解什么事财富吗</h3>
                            <p class="m-text">
                                大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒脑无单位大怒
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <!-- horizontal 横着 -->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1005/100/100" alt=""
                                                    class="ui avatar image">
                                                <div class="content"><a href="" class="header">夏浩磊</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2022-01-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1024
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                            class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/400" alt=""
                                    class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui padded vertical segment m-padded-tb-large .m-mobile-lr-clear">
                    <!-- 移动端图片和文字会反转-->
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">你是真的理解什么事财富吗</h3>
                            <p class="m-text">
                                大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒脑无单位大怒
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <!-- horizontal 横着 -->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1005/100/100" alt=""
                                                    class="ui avatar image">
                                                <div class="content"><a href="" class="header">夏浩磊</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2022-01-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1024
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                            class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/400" alt=""
                                    class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large .m-mobile-lr-clear">
                    <!-- 移动端图片和文字会反转-->
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">你是真的理解什么事财富吗</h3>
                            <p class="m-text">
                                大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒脑无单位大怒
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <!-- horizontal 横着 -->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1005/100/100" alt=""
                                                    class="ui avatar image">
                                                <div class="content"><a href="" class="header">夏浩磊</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2022-01-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1024
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                            class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/400" alt=""
                                    class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large .m-mobile-lr-clear">
                    <!-- 移动端图片和文字会反转-->
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">你是真的理解什么事财富吗</h3>
                            <p class="m-text">
                                大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒脑无单位大怒
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <!-- horizontal 横着 -->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1005/100/100" alt=""
                                                    class="ui avatar image">
                                                <div class="content"><a href="" class="header">夏浩磊</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2022-01-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1024
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                            class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/400" alt=""
                                    class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large .m-mobile-lr-clear">
                    <!-- 移动端图片和文字会反转-->
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">你是真的理解什么事财富吗</h3>
                            <p class="m-text">
                                大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒脑无单位大怒
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <!-- horizontal 横着 -->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1005/100/100" alt=""
                                                    class="ui avatar image">
                                                <div class="content"><a href="" class="header">夏浩磊</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2022-01-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1024
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                            class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/400" alt=""
                                    class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large .m-mobile-lr-clear">
                    <!-- 移动端图片和文字会反转-->
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">你是真的理解什么事财富吗</h3>
                            <p class="m-text">
                                大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒脑无单位大怒
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <!-- horizontal 横着 -->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1005/100/100" alt=""
                                                    class="ui avatar image">
                                                <div class="content"><a href="" class="header">夏浩磊</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2022-01-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1024
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                            class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/400" alt=""
                                    class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large .m-mobile-lr-clear">
                    <!-- 移动端图片和文字会反转-->
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">你是真的理解什么事财富吗</h3>
                            <p class="m-text">
                                大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒大怒年度你无敌微电脑无敌女巫的呢无电脑玩电脑微电脑无单位大怒脑无单位大怒
                            </p>
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="eleven wide column">
                                        <!-- horizontal 横着 -->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/1005/100/100" alt=""
                                                    class="ui avatar image">
                                                <div class="content"><a href="" class="header">夏浩磊</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2022-01-01
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1024
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                            class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <a href="" class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/400" alt=""
                                    class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>


                
            </div>
                    <!-- 底部内容 -->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" class="ui  mini teal  basic button">上一页</a>
                            </div>
                            <div class=" right aligned column">
                                <a href="#" class="ui  mini teal  basic button">下一页</a>
                            </div>
                        </div>
                    </div>

        </div>
    </div>



    <!-- footer底部 -->
    <!-- vertical 垂直,不是圆角 -->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechatpay.jpg" class="ui rounded image" alt=""
                                style="width: 110px;">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-mini">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:116955812@qq.com</a>
                        <a href="#" class="item">qq:1169555812</a>
                        <a href="#" class="item">手机号:18256199601</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-spaced m-opacity-tiny ">Xiahl</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">欢迎来到我的博客,欢迎来到我的博客,欢迎来到我的博客欢迎来到我的博客,欢迎来到我的博客</p>
                </div>
            </div>
            <div class="ui inverted section divider">
                <p class="m-text-thin m-text-spaced">
                    Copyright@2022-2023
                </p>
            </div>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <!-- jquery必须放到后面,才能显示出来 -->
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });


    </script>

</body>

</html>